{% extends 'blog/base.html' %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class= "page-sub-header">    
            
            {% for post in sub_types%} 
                <!-- <span class="sub-type-nav">{{post.sub_type}}</span> -->
                <span class="post-sub-type">
                  <a href="{% url 'get_sub_type' sub_type=post.sub_type post_type=post.post_type %}"> {{ post.sub_type }} </a>
                </span>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="content container">
    
   <div class="row">
   {% for post in posts %}   
    <div class="col-md-6 col-xs-12">
        <div class="post post-list">
            <div class="post-header">
                <h1>
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                </h1>
                <span class="date">
                     {{ post.published_date |date:"M d, Y" }}
                </span>
                
            </div>
            <p>{{ post.text|truncatewords:50 }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    </div>
    {% endfor %} 
    </div>
    </div>
{% endblock %}	
